*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
#div1{
    width: 100%;
    height: 18vh;
    background-color: rgb(23, 23, 62);
}
#div1 #navbar{
    position: fixed;
    z-index: 3;
}
#logo{
    font-size: 55px;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
}
#sidebar{
    width: 600px;
    height: 30px;
    display: flex;
}
    

#sidebar a{
    text-decoration: none;
    color: white;
    width: 250px;
    height: 40px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#sidebar a:hover{
    color: aqua;
}


#navbar{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#leftbar{
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 130px;
    background-color: rgb(23, 23, 62);
}
#middle{
    position: absolute;
    top: 170px;
    width: 800px;
    height: 500px;
    left: 60px;
}
#middle .p1{
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    position: relative;
    color: aqua;
}
#middle .p2{
    font-size: 30px;
    color: white;
    margin-top: 14px;
    letter-spacing: 2px;
    
}
#middle .p1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid aqua;
    transition: 0.4s linear;
}
#middle .p1:hover::before{
    width: 55%;
}
#middle .p3{
    font-size: 20px;
    color: white;
    margin-top: 23px;
    letter-spacing: 2px;
}
#right{
    width: 200px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    top: 155px;
    width: 800px;
    height: 500px;
    left: 870px;
}
#bottom{
    width: 400px;
    height: 150px;
    color: white;
    font-size: 40px;
    position: relative;
    top:400px;
    left: 60px;
}
.id1{
    width: 500px;
    height: 50px;
    font-size: 22px;
    font-weight: 2px;
}
i{
    margin-right: 5px;
    font-size: 30px;
}
#edu{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 726px;
    
    background-color: rgb(23, 23, 62);
    z-index: 2;
}
#education{
    position: relative;
    top: 260px;
    left: 130px;
    width: 700px;
    height: 400px;
    
}
#dd{
    font-size: 35px;
    color: aqua;
    width: 700px;
    font-weight: 3px;
    position: relative;
    letter-spacing: 3px;
}
#dd::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid aqua;
    transition: 0.4s linear;
    
}
#dd:hover::before{
    width: 24%;
}
#aa .li{
    font-size: 25px;
    color: rgb(229, 236, 23);
    margin-top: 5px;
    list-style-type: square;
}
ul dl{
    font-size: 20px;
    color: white;
    margin-top: 8px;
}
ul{
    margin-left: 20px;
    margin-top: 10px;
}
#school{
    position: absolute;
    top: 320px;
    right: 300px;
    width: 150px;
    height: 150px;
}
#school i{
    font-size: 200px;
    color: white;
}
#skills{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 1440px;
    
    background-color: rgb(23, 23, 62);
}
#lls{
    position: absolute;
    top: 260px;
    left: 130px;
    width: 700px;
    height: 400px;
}
#jpc{
    width: 150px;
    height: 40px;
    font-size: 35px;
    font-weight: 3px;
    letter-spacing: 3px;
    border-radius: 6px;
    color: aqua;
    background-color: rgb(23, 23, 62);
    margin-bottom: 15px;
    animation: animate 3s linear 0s 1 normal;
    padding-left: 2px;
}
@keyframes animate{
    from{
        color: aqua; 
        background-color: rgb(23, 23, 62);
    }
    to{
        color: white;
        background-color: aqua;
    }
}
#bars{
    width: 800px;
    height: 550px;
    margin-top: 6px;
}
.s1{
    width: 700px;
    height: 50px;
    display: flex;
    
}
#bars p{
    font-size: 20px;
    color: white;
    margin-right: 20px;
    width: 150px;
}
.k1{
    width: 500px;
    height: 20px;
    background-color: rgb(161, 153, 153);
    border-radius: 5px;
    margin-left: 10px;
}
#i1{
    width: 290px;
    height: 20px;
    background-color: rgb(229, 236, 23);
    color: white;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
    border-left: none;
}
#i2{
    width: 140px;
    height: 20px;
    background-color: rgb(229, 236, 23);
    color: white;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
}
#i3{
    width: 325px;
    height: 20px;
    background-color: rgb(229, 236, 23);
    color: white;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
}
#i4{
    width: 250px;
    height: 20px;
    background-color: rgb(229, 236, 23);
    color: white;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
}
#i5{
    width: 290px;
    height: 20px;
    background-color: rgb(229, 236, 23);
    color: white;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
}
#pic{
    position: absolute;
    top: 260px;
    right: 320px;
    width: 150px;
    height: 150px;
}
#pic i{
    font-size: 200px;
    color: white;
}
#pic2{
    position: absolute;
    top: 350px;
    right: 100px;
    width: 150px;
    height: 150px;
}
#pic2 i{
    font-size: 100px;
    color: white;
}
#pic3{
    position: absolute;
    top: 420px;
    right: 170px;
    width: 150px;
    height: 150px;
}
#pic3 i{
    font-size: 130px;
    color: white;
}
